<link rel="stylesheet" href="/assets/css/footer.css">
<footer>
        <p>
            <a href="#" class="fab fa-facebook" aria-hidden="true"></a>
            <a href="https://api.whatsapp.com/send?phone=50948846143&text=Hello%20Petit-Homme%20Ben-Jacques.%0d%0aHow%20are%20you%20%3f%0d%0aI%20came%20from%20your%20website.&source=&data=#"
                class="fab fa-whatsapp"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-twitter"></a>
        </p>
            <!--
            written By : Petit-Homme Ben-Jacques
            Telf : +509 42003583 / 48846143
            Mail: pben.jacques@gmail.com
            -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
                        <p class="mt-0">
                            Made in Ha&iuml;ti <br>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            bentechnophile
                         </p>
                    </div>
                </div>
            </div>
        </div>
</footer>
<!--
written By : Petit-Homme Ben-Jacques
Telf : +509 42003583 / 48846143
Mail: pben.jacques@gmail.com
-->
