{{#if success_msg}}
<div class="alert alert-success font-weight-bold">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger font-weight-bold">{{error_msg}}</div>
{{/if}}

{{#if success}}
<div class="alert alert-success font-weight-bold">{{success}}</div>
{{/if}}
