<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xl-12 col-lg-12">
            <center>
                <h3 class='alert alert-info' style="margin-bottom:0px;">About Us !</h3>
            </center>
            <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
                <h1 class="display-4">Hello</h1>
                <p class="lead">A service dedicated to Admin, Student and Teacher. We provide online resources, professional support
                    and guidance to all our students,teacher whenever, and from wherever they have chosen to study.</p>
                <hr class="my-4">
                <p>Explore our Website.</p>
                <p class="lead">
                    <a class="btn btn-info btn-lg" href="/" role="button">HOME</a>
                </p>
            </div>
        </div>    
    </div>
    
</div>

<!--
written By : Petit-Homme Ben-Jacques
Telf : +509 42003583 / 48846143
Mail: pben.jacques@gmail.com
-->
