<link rel="stylesheet" href="/assets/css/index.css">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron mt-3" style="margin-bottom: 0px;margin-top: 0px;">
                <div class="row">
                    <div class="col-md-12  col-sm-12 col-xs-12 mb-4 mt-4">
                        <h1 class="display-4 glow pt-4">Welcome</h1>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 mb-3 mt-4">
                        <p class="text-center font-weight-bold">Knowledge is key to success</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 mt-4">
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="/students/" role="button">Take Admission</a>
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xl-12 mb-0 mt-0">
            {{> _admin-teacher-student}}
            <br>
        </div>
    </div>
<div style="height:70px;"></div>
    <div class="row position-static mb-0">
        <div class="col-md-12 col-sm-12 col-xl-12">
            {{> _footer}}
        </div>
    </div>
</div>
<!--
written By : Petit-Homme Ben-Jacques
Telf : +509 42003583 / 48846143
Mail: pben.jacques@gmail.com
-->
