<div class="row">
    <div class="col-xl-3 col-md-4">
        <div class="card bg-primary text-white mb-4">
            <div class="card-block p-3">
                <h6 class="m-b-20">Total Teacher</h6>
                <h2 class="text-right"><i class="fas fa-chalkboard-teacher float-left"></i><span>34</span></h2>
                <p class="m-b-0 text-white">Pending Teacher<span class="float-right">89</span></p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-4">
        <div class="card bg-info text-white mb-4">
            <div class="card-block p-3">
                <h6 class="m-b-20">Total Student</h6>
                <h2 class="text-right"><i class="fas fa-user-graduate float-left"></i><span>84</span></h2>
                <p class="m-b-0">Pending Teacher<span class="float-right">69</span></p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-4">
        <div class="card bg-warning text-white mb-4">
            <div class="card-block p-3">
                <h6 class="m-b-20">Teachers Salary</h6>
                <h2 class="text-right"><i class="fas fa-search-dollar float-left"></i><span>None</span></h2>
                <p class="m-b-0">Pending Teacher<span class="float-right">None</span></p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-4">
        <div class="card bg-danger text-white mb-4">
            <div class="card-block p-3">
                <h6 class="m-b-20">Students Free</h6>
                <h2 class="text-right"><i class="fas fa-search-dollar float-left"></i><span>None</span></h2>
                <p class="m-b-0">Pending Teacher<span class="float-right">None</span></p>
            </div>
        </div>
    </div>
    
</div>

<br>
<div class="row">
    <div class="col-md-12">
        {{> _calendar}}
    </div>
</div>
